*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --base: #100510;
  --rosa: #882281;
  --background: #8d96de;
  --background: radial-gradient(circle at bottom left, black, blue, purple);
  --borda: 2px solid var(--rosa);

  --frente: 100px;
  --mao: 30px;
}

body{
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.animate{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 9;
}
.container{
  position: relative;
}
.animate:hover + .container{
  animation: thasfin 5s ease infinite alternate;
}
@keyframes thasfin {
  0% { transform: translateX(-450px) rotate(0);}
  100% { transform: translateX(450px) rotate(360deg);}
}
.capacete{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(15%);
}

.frente{
  position: relative;
  width: 100px;
  height: 100px;
  background: var(--base);
  border: var(--borda);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: end;
}

.frente::before,
.frente::after{
  content: "";
  position: absolute;
  background: var(--base);
  border: var(--borda);
  border-radius: 50%;
  z-index: -2;
}

.frente::before{
  width: 112px;
  height: 112px;
}
.frente::after{
  height: 104px;
  width: 104px;
}

.lados{
  position: absolute;
  display: flex;
  gap: 80px;
  top: 35px;
}

.lados::before, .lados::after{
  content: "";
  position: relative;
  border: var(--borda);
  background: var(--base);
  width: 25px;
  height: 30px;
  border-radius: 35%;
  z-index: -2;
}

/* Corpo */

.corpo{
  position: relative;
  
}

.uniforme{
  border: var(--borda);
  background: var(--base);
  width: 100px;
  height: 80px;
  z-index: -1;
  border-radius: 50% 50% 0 0 / 70% 70% 0 0;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.uniforme::before,
.uniforme::after{
  content: "";
  position: absolute;
  border: var(--borda);
  border-radius: 50%;
}

.uniforme::before{
  width: 60px;
  height: 120px;
  transform: translateY(-30%);
}
.uniforme::after{
  width: 50px;
  height: 30px;
  transform: translateY(-40%);
}

.uniforme .circulo{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: var(--borda);
  transform: translateY(150%);
}
.mochila{
  position: absolute;
  width: 106px;
  height: 96px;
  border: var(--borda);
  background: var(--base);
  left: 50%;
  transform: translate(-50%, -120%);
  z-index: -2;
}
.cinto{
  width: 100px;
  height: 12px;
  background: var(--base);
  border: var(--borda);
  border-top: transparent;
  border-bottom: transparent;

  display: flex;
  align-items: center;
}

.cinto::before,
.cinto::after{
  content: "";
  position: absolute;
  height: 24px;
  border: var(--borda);
  background: var(--base);
}

.cinto::before{
  width: 12px;
  border-radius: 12px;
  margin-left: 4px;
}

.cinto::after{
  width: 24px;
  border-radius: 25%;
  right: -2px;
}

.bracos{
  display: flex;
  justify-content: space-between;
}

.braco{
  position: absolute;
  width: 40px;
  height: 80px;
  background: var(--base);
  border: var(--borda);
  border-radius: 50%;
  transform: translate(-35%, -100%) rotate(10deg);
  z-index: -2;
}

.braco:nth-child(2){
  transform: translate(35%, -100%) rotate(-10deg);
  right: 0;
}

.braco:nth-child(2) .mao{
  right: 0;
}

.mao{
  position: absolute;
  width: 30px;
  height: 30px;
  border: var(--borda);
  background: var(--base);
  border-radius: 0 0 50% 50%;
  bottom: -15%;
}

.ombros{
  position: absolute;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.ombros::before,
.ombros::after{
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  border: var(--borda);
  background: var(--base);
  border-radius: 50%;
  top: -100px;
  z-index: -2;
}

.pernas{
  position: relative;
  width: 100px;
  height: 70px;
  border: var(--borda);
  z-index: -1;
  border-radius: 0 0 15% 15% / 0 0 80% 80%;

  overflow: hidden;
  border-bottom: transparent;
}

.pernas::before{
  content: "";
  position: absolute;
  width: 12px;
  height: 60px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  border: var(--borda);
  box-shadow: 0 0 0 500px var(--base);
}

.botas{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.bota{
  width: 50px;
  height: 12px;
  border-radius: 50%;
  border: var(--borda);
  background: var(--base);
  transform: translateY(-50%);
  border-top: transparent;
  border-right: transparent;
}

.bota:last-child{
  border-right: var(--borda);
  border-left: transparent;
}
.bota::after{
  content: "";
  position: absolute;
  width: 38px;
  height: 2px;
  background: var(--rosa);
  left: 4px;
  top: -100%;
}